/GetMattersForFeeEarnerExample/GetMattersForFeeEarnerExample/obj/*
/GetMattersForFeeEarnerExample/GetMattersForFeeEarnerExample/bin/*
/GetMattersForFeeEarnerExample/.vs/*
/GetMattersForFeeEarnerExample/GetMattersForFeeEarnerExample/Properties/launchSettings.json